- url = @record.new_record? ? public_send(@entity.create_helper_method) : public_send(@entity.update_helper_method, @record.id)
- method = @record.new_record? ? :post : :patch

= tramway_form_for @record, local: true, url:, method: do |f|
  - if @record.errors.any?
    %div{ class: 'mb-4 w-full rounded-lg border border-red-500/50 bg-zinc-950 px-4 py-3 text-sm text-red-400 shadow-sm' }
      %h2.font-medium.leading-none.tracking-tight.mb-2
        = "#{pluralize(@record.errors.count, 'error')} prohibited this record from being saved:"
      %ul.list-disc.list-inside.pl-6
        - @record.errors.full_messages.each do |message|
          %li= message

  - prepolulated_values = params[@entity.name.to_param]&.compact || {}

  - @record.class.fields.each do |(attribute, field_type)|
    = f.tramway_field field_type, attribute,
      value: prepolulated_values&.dig(attribute),
      label: @model_class.human_attribute_name(attribute)

  .flex.flex-row.flex-wrap.gap-2
    = f.submit t('tramway.actions.save')
    = tramway_button text: t('tramway.actions.cancel'),
      path: public_send(@entity.index_helper_method),
      type: :secondary,
      link: true
