- decorator = Tramway::Decorators::NameBuilder.default_decorator_class_name(@model_class)
- list_attributes = decorator.constantize.list_attributes

.mt-8.w-full
  - content_for :title, page_title

  .flex.justify-between.items-center.md:mt-4.mt-2
    %h1.font-bold.text-4xl.dark:text-white
      = content_for(:title)

    - if Tramway.config.pagination[:enabled]
      = paginate @entities

  - if list_attributes.empty?
    %p.text-center.mt-10
      You should fill class-level method `self.list_attributes` inside your
      = decorator

  = component 'tailwinds/table' do
    = component 'tailwinds/table/header', headers: list_attributes.map { |attribute| @model_class.human_attribute_name(attribute) }
    - @entities.each do |item|
      = render 'tramway/entities/entity', entity: item

    .flex.mt-4
      = paginate @entities
