- decorator = Tramway::Decorators::ClassHelper.decorator_class_name(@model_class, @namespace)
- index_attributes = decorator.constantize.index_attributes

.mt-8.w-full
  - content_for :title, page_title

  .flex.justify-between.items-center
    %h1.font-bold.text-4xl.dark:text-white
      = content_for(:title)

    - if Tramway.config.pagination[:enabled]
      = paginate @entities, custom_path_method: "#{@model_class.model_name.plural}_path"
  .flex.justify-end.mt-2
    = decorator.constantize.index_header_content.call(@entities) if decorator.constantize.index_header_content.present?

  - if index_attributes.empty?
    %p.text-center.mt-10
      You should fill class-level method `self.index_attributes` inside your
      = decorator
  - else
    = tramway_table class: 'mt-4' do
      = tramway_header headers: index_attributes.map { |attribute| @model_class.human_attribute_name(attribute) }
      - @entities.each do |item|
        = component 'tramway/entity', entity: @entity, item: item

      - if Tramway.config.pagination[:enabled]
        .flex.mt-4
          = paginate @entities, custom_path_method: "#{@model_class.model_name.plural}_path"
