- decorator = Tramway::Decorators::ClassHelper.decorator_class_name(@model_class, @namespace)
- index_attributes = decorator.constantize.index_attributes
- custom_path_method = "#{@model_class.model_name.plural}_path"
- custom_path_method = "#{@entity.namespace.gsub('/', '_')}_#{custom_path_method}" if @entity.namespace.present?

.md:mt-8.w-full
  - content_for :title, page_title

  .flex.justify-between.items-center
    = tramway_title do
      = content_for :title

    = component 'tramway/actions_buttons_container' do
      - if @entity.page(:create).present?
        = tramway_button text: t('tramway.actions.new'),
          path: Tramway::Engine.routes.url_helpers.public_send(@entity.routes.new),
          type: :will

      = decorator.constantize.index_header_content.call(@entities) if decorator.constantize.index_header_content.present?

  .flex.flex-row.justify-end.mt-2
    - if @entity.page(:index).search
      = form_with url: public_send(custom_path_method), method: :get, local: true, builder: Tramway::Form::Builder, horizontal: true do |f|
        = f.text_field :query, label: false
        = f.submit t('tramway.actions.search')

    = paginate @entities, custom_path_method:

  - if index_attributes.empty?
    %p.text-center.mt-10
      You should fill class-level method `self.index_attributes` inside your
      = decorator
  - else
    = tramway_table class: 'mt-4' do
      = tramway_header headers: decorator.constantize.table_headers(entity: @entity)
      - @entities.each do |item|
        = component 'tramway/entity', entity: @entity, item: item

      .flex.mt-4
        = paginate @entities, custom_path_method:
