.w-full
  - content_for :title, page_title

  .flex.justify-between.items-center
    %h1.font-bold.text-4xl
      = page_title
  -#   = link_to "New #{human_name.downcase}", public_send("new_#{singular_route_name}_path"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"

  .min-w-full#entities
    - @entities.each do |item|
      = render 'entity', entity: item
  -#     %p
  -#       = link_to "Show this #{human_name.downcase}", model_resource_name(singular_table_name), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
