.w-full
  - content_for :title, page_title

  .flex.justify-between.items-center.md:mt-4.mt-2
    %h1.font-bold.text-4xl.dark:text-white
      = page_title
  -#   = link_to "New #{human_name.downcase}", public_send("new_#{singular_route_name}_path"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"

  - if decorator_class(@entities).list_attributes.empty?
    %p.text-center.mt-10
      You should fill `list_attributes` inside your
      = decorator_class_name(@entities)

  = component 'tailwinds/table' do
    = component 'tailwinds/table/header', headers: decorator_class(@entities).list_attributes.map { |attribute| @model_class.human_attribute_name(attribute) }
    - @entities.each do |item|
      = render 'entity', entity: item
