= tramway_container do
  .flex.justify-between.items-center
    %h1.text-4xl.font-bold.mb-4
      = @record.title

  = component 'tramway/actions_buttons_container' do
    - if @entity.page(:update).present?
      = tramway_button text: t('tramway.actions.edit'),
        path: Tramway::Engine.routes.url_helpers.public_send(@entity.routes.edit, @record.id),
        type: :will

    - if @entity.page(:destroy).present?
      = tramway_button text: t('tramway.actions.destroy'),
        path: Tramway::Engine.routes.url_helpers.public_send(@entity.routes.destroy, @record.id),
        type: :rage,
        method: :delete

  .flex.justify-end.mt-2
    - if @record.show_header_content.present?
      = @record.show_header_content

  - if @record.show_attributes.empty?
    %p.text-center.mt-10
      You should fill object-level method `show_attributes` inside your
      = @record.class.name

  = tramway_table class: 'mt-4' do
    - @record.show_attributes.each do |attribute|
      = tramway_row do
        = tramway_cell do
          = @model_class.human_attribute_name(attribute)
        = tramway_cell do
          = @record.public_send(attribute)

  - @associations.each do |association|
    .flex.flex-row.justify-between.mt-8
      %h3.text-2xl.font-bold
        = @model_class.human_attribute_name(association[:name])

      %div
        = paginate association[:records],
          custom_path_method: @entity.index_helper_method,
          custom_path_arguments: [@record.id]

    = tramway_table class: 'mt-4' do 
      -# FIXME: don't use first object for getting association decorator
      = tramway_header headers: association[:records].first.table_headers

      - association[:records].each do |record|
        = tramway_row do
          - association[:decorator].index_attributes.each do |column|
            = tramway_cell do
              = record.public_send(column)

    .mt-4
      = paginate association[:records],
        custom_path_method: @entity.index_helper_method,
        custom_path_arguments: [@record.id]
