= tramway_container do
  %h1.text-2xl.font-bold.mb-4
    = @record.title

  - if @record.show_attributes.empty?
    %p.text-center.mt-10
      You should fill object-level method `show_attributes` inside your
      = @record.class.name
  = tramway_table do
    - @record.show_attributes.each do |attribute|
      = tramway_row do
        = tramway_cell do
          = @model_class.human_attribute_name(attribute)
        = tramway_cell do
          = @record.public_send(attribute)
