%html
  %head
    %title= content_for(:title) || "Tramway"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "mobile-web-app-capable", content: "yes"}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    / Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
    / = tag.link rel: "manifest", href: pwa_manifest_path(format: :json)

    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}

    / Includes all stylesheet files in app/assets/stylesheets
    = stylesheet_link_tag "tailwind", "data-turbo-track": "reload"

    :css
      @keyframes fadeout {
        0% {
          opacity: 1;
        }

        80% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }

      .flash {
        animation: fadeout 2.7s ease-out forwards;
      }

  %body.bg-gray-100.dark:bg-gray-900.text-gray-900.dark:text-white
    = tramway_navbar title: 'Tramway'

    - if flash.any?
      #flash-container.fixed.top-4.right-4.z-50.space-y-2
        - if flash[:notice]
          .flash.opacity-100.bg-green-700.text-white.px-4.py-2.rounded.shadow
            .text-xl.font-bold
              = flash[:notice]

        - if flash[:alert]
          .flash.opacity-100.bg-yellow-700.text-black.px-4.py-2.rounded.shadow
            .text-xl.font-bold
              = flash[:alert]

    .container.mx-auto.p-4.flex.align-center.justify-center
      = yield
