%script{ src: "https://cdn.tailwindcss.com" }

= javascript_importmap_tags
= tramway_form_for @user_form, url: { controller: :users, action: :create } do |f|
  = f.text_field :email, label: 'Email'
  = f.file_field :avatar, label: 'Avatar'
  = f.select :country, [['Velmora', 'vm'], ['Dravara', 'dv']], label: 'Country'
  = f.text_area :personal_info, label: 'Personal info'
  = f.check_box :permissions, label: 'Permissions'
  - roles = [['Admin', 'admin'], ['User', 'user'], ['Manager', 'manager'], ['Auditor', 'auditor'], ['Operator', 'operator'], ['Editor', 'editor'], ['Reviewer', 'reviewer'], ['Support', 'support']]
  = f.select :role, roles, label: false, data: { controller: 'user-form', action: 'change->user-form#updateForm' }, multiple: true
  = f.select :team, [['Team 1', 'team1'], ['Team 2', 'team2']], autocomplete: true

  = f.submit 'Create user'
