.mb-4
  - if @label
    = component('tailwinds/form/label', for: @for) do
      = @label
  - base_classes = 'w-full border rounded focus:outline-none bg-gray-800 border-gray-600 text-white focus:border-red-400 placeholder-white'
  - classes = "#{size_class(:text_input)} #{base_classes}"
  = @input.call @attribute, **@options.merge(class: classes), value: @value
