- value = defined?(value).present? ? value : ''
- case field.field_type
- when 'text', 'string', 'numeric', 'date_picker', 'file'
  = render 'tramway/core/shared/input_extended_types/simple', value: value, field: field, class_name: class_name, f: f
- when 'select'
  = render 'tramway/core/shared/input_extended_types/select', value: value, field: field, class_name: class_name, f: f
- when 'yes_no'
  = render 'tramway/core/shared/input_extended_types/yes_no', value: value, field: field, class_name: class_name, f: f
- when 'checkbox'
  = render 'tramway/core/shared/input_extended_types/checkbox', value: value, field: field, class_name: class_name, f: f

- if params[:errors].present? && params[:errors][field.title]&.first
  .alert.alert-danger
    = params[:errors][field.title]&.first
