.mb-4
  - if @label
    = component('tramway/form/label', for: @for) do
      = @label
- classes = "#{size_class(:text_input)} #{text_input_base_classes}"
= @input.call @attribute, **@options.merge(class: classes), value: @value
