- if text.present?
  - if link
    = link_to text, path, class: classes, **options.except(:class)
  - else
    - if type&.to_sym == :submit
      %button{ type: :submit, name: :commit, class: classes, **options.except(:class) }
        = text
    - else
      = button_to text, path, method:, form: form_options, class: classes, **options.except(:class)
- else
  - if link
    = link_to path, class: classes, **options.except(:class) do
      = content
  - else
    - if type&.to_sym == :submit
      %button{ type: :submit, name: :commit, class: classes, **options.except(:class) }
        = content
    - else
      = button_to path, method:, class: classes, form: form_options, **options.except(:class) do
        = content
