%nav{ class: navbar_classes }
  .flex.md:justify-between.w-full.items-center.relative
    .block.sm:hidden.border.border-white.px-2.rounded
      %button#mobile-menu-button{ class: mobile_button_classes }
        ☰

    - if @title[:text].present? || @left_items.present?
      .flex.items-center.absolute.transform{ class: 'left-1/2 -translate-x-1/2' }
        - if @title[:text].present?
          = link_to @title[:link] do
            .text-xl{ class: title_classes }
              = @title[:text]
        - if @left_items.present?
          %ul.flex-row.items-center.space-x-4.ml-4.hidden.md:flex
            - @left_items.each do |item|
              = item

  - if @right_items.present?
    %ul.items-center.space-x-4.hidden.md:flex
      - @right_items.each do |item|
        = item

#mobile-menu{ class: mobile_menu_classes }
  - if @left_items.present?
    %ul.flex.flex-col.space-y-2
      - @left_items.each do |item|
        = item

  - if @right_items.present?
    %ul.flex.flex-col.space-y-2
      - @right_items.each do |item|
        = item

  %span.fixed.top-4.right-4.text-4xl.cursor-pointer.text-white#mobile-menu-close-button
    ⨯

:javascript
  const button = document.getElementById('mobile-menu-button');
  const closeButton = document.getElementById('mobile-menu-close-button');
  const menu   = document.getElementById('mobile-menu');
  const root   = document.documentElement;
  const toggleMenu = (() => {
    const isHidden = menu.classList.toggle('hidden');

    if (isHidden) {
      root.classList.remove('overflow-hidden');
    } else {
      root.classList.add('overflow-hidden');
    }
  });

  button.addEventListener('click', toggleMenu);
  closeButton.addEventListener('click', toggleMenu);
