%nav{ class: navbar_classes }
  .flex.md:justify-between.w-full.items-center.relative
    .block.sm:hidden
      %button#mobile-menu-button{ class: mobile_button_classes }
        ☰

    - if @title[:text].present? || @left_items.present?
      .flex.items-center.absolute.transform{ class: 'left-1/2 -translate-x-1/2' }
        - if @title[:text].present?
          = link_to @title[:link] do
            .text-xl{ class: title_classes }
              = @title[:text]
        - if @left_items.present?
          %ul.flex-row.items-center.space-x-4.ml-4.hidden.md:flex
            - @left_items.each do |item|
              = item

  - if @right_items.present?
    %ul.items-center.space-x-4.hidden.md:flex
      - @right_items.each do |item|
        = item

#mobile-menu{ class: mobile_menu_classes }
  - if @left_items.present?
    %ul.flex.flex-col.space-y-2
      - @left_items.each do |item|
        = item

  - if @right_items.present?
    %ul.flex.flex-col.space-y-2
      - @right_items.each do |item|
        = item

:javascript
  document.getElementById('mobile-menu-button').addEventListener('click', function() {
    var menu = document.getElementById('mobile-menu');
    menu.classList.toggle('hidden');
  });
