= helpers.component 'tailwinds/table/row/preview'

- width_class = options[:class]&.include?('w-') ? '' : 'w-full'

%div{ class: "#{table_classes} #{options[:class]} #{width_class}".strip, **options.except(:class) }
  = content
