
- if cells.any?
  - cols = cells.count.times.map { |item| "1fr" }.join(",")

  -# desktop view
  = row_tag class: "div-table-row block grid gap-4 bg-white border-b dark:bg-gray-800 dark:border-gray-700 grid-cols-[#{cols}]" do
    - cells.each do |(_, value)|
      .div-table-cell.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white.text-xs.sm:text-base.hidden.sm:block
        = value

  -# mobile view
  .div-table-row.md:hidden.border-b.dark:bg-gray-800.dark:border-gray-700.mb-2{ "data-action" => "click->preview#toggle", "data-controller" => "preview", "data-items" => cells.to_json }
    .w-full.p-4.bg-purple-100.text-gray-700.dark:bg-gray-700.dark:text-gray-400
      = cells.values.first

    .flex.overflow-x-auto.whitespace-nowrap
      - cells.each_with_index do |(_, value), index|
        - next if index == 0

        .text-gray-900.dark:text-white.p-4.text-xs.sm:text-base.inline-block.w-auto
          = value
- else
  - cols = Nokogiri::HTML.fragment(content).children.css('> div').count.times.map { |item| "1fr" }.join(",")

  %div{ class: "div-table-row hidden md:grid gap-4 bg-white border-b dark:bg-gray-800 dark:border-gray-700 grid-cols-[#{cols}]" }
    = content
