- if cells.any?
  = row_tag class: desktop_row_classes(cells.count), **options do
    - cells.each do |(_, value)|
      .div-table-cell.px-6.py-4.font-medium.text-gray-900.dark:text-white.text-xs.sm:text-base
        = value

- else
  - cells = Nokogiri::HTML.fragment(content).xpath('./*[@class and contains(concat(" ", normalize-space(@class), " "), " div-table-cell ")]')

  - if href.present?
    = tag.a href:, class: [desktop_row_classes(cells.count), link_row_classes].join(' '), **options do
      = content
  - else
    = tag.div class: desktop_row_classes(cells.count), **options do
      = content
