= paginate @records, theme: 'twitter-bootstrap-4'
%table.table.table-striped.table-hover
  %thead
    %tr
      %th{ scope: :col }
        = model_class.human_attribute_name(:id)
      %th{ scope: :col }
        = model_class.human_attribute_name(:name)
      - decorator_class.list_attributes.each do |attribute|
        %th{ scope: :col }
          = model_class.human_attribute_name attribute
      %th{ scope: :col }
        = t 'helpers.links.actions'
  %tbody
    - @records.each_with_index do |record, index|
      %tr
        %th{ scope: :row }
          = link_to record.id, current_model_record_path(record.id)
        %td.link{ data: { href: current_model_record_path(record.id) } }
          = link_to record.name, current_model_record_path(record.id)
        - decorator_class.list_attributes.each do |attribute|
          %td
            = record.send attribute
        %td.actions
          = link_to fa_icon('pencil-alt'), edit_current_model_record_path(record.id, redirect: current_model_records_path(record.id)), class: 'btn btn-warning btn-xs'
          = delete_button url: current_model_record_path(record.id), form_options: { class: :smart_button }, button_options: { class: 'btn btn-xs btn-danger' } do
            = fa_icon 'trash-alt'
          - if tramway_model?(model_class)
            %br
            %br
            .btn-group{ data: { toggle: :buttons } }
              - state_machine_names = record.listed_state_machines || record.model.class.state_machines_names
              - state_machine_names.each do |state_machine_name|
                - unless state_machine_name == 'default'
                  = state_events_buttons record, state_method: state_machine_name, model_param_name: :record, controller: 'tramway/records', action: :update, parameters: { redirect: current_model_records_path(page: params[:page], scope: params[:scope], filter: params[:filter], focus: focus_selector(index)), model: record.class.model_name }, button_options: { class: :smart_button }
= paginate @records, theme: 'twitter-bootstrap-4'
