- if headers.any?
  %div{ class: "#{header_row_classes} md:grid-cols-#{headers.count}", aria: { label: "Table Header" }, role: "row" }
    - headers.each do |header|
      = component 'tramway/table/header_cell' do
        = header
- else
  - cells = Nokogiri::HTML.fragment(content).xpath('./*[@class and contains(concat(" ", normalize-space(@class), " "), " div-table-cell ")]')
  %div{ class: "#{header_row_classes} md:grid-cols-#{cells.count}", aria: { label: "Table Header" }, role: "row" }
    = content
