- if cells.any?
  = row_tag class: desktop_row_classes(cells.count), **options do
    - cells.each do |(_, value)|
      %div{ class: cell_classes }
        = value

- else
  - cells = Nokogiri::HTML.fragment(content).xpath('./*[@class and contains(concat(" ", normalize-space(@class), " "), " div-table-cell ")]')

  - if href.present?
    = tag.a href:, class: [desktop_row_classes(cells.count), link_row_classes].join(' '), **default_attributes do
      = content
  - else
    = tag.div class: desktop_row_classes(cells.count), **default_attributes do
      = content
