- if on_the_left?
  .flex.justify-start.flex-col
    - if text.present?
      .bg-gray-200.dark:bg-gray-700.dark:text-white.px-4.py-2.rounded-lg.rounded-bl-none.max-w-lg
        = component 'native_text', text:, size:, klass: text_color
        - if show_sent_at?
          .justify-end.mt-2.text-right.text-sm
            = message.sent_at.strftime('%d %b %Y %H:%M')
    - if data_view == :table
      = component 'chats/messages/table', data: message.data

- if on_the_right?
  .flex.justify-end
    - if text.present?
      .flex-row.bg-blue-500.dark:bg-blue-600.rounded-lg.rounded-br-none
        .flex-col.text-white.px-4.py-2.max-w-lg
          = component 'native_text', text:, size:, klass: text_color
          - if show_sent_at?
            .justify-end.text-sm.mt-2
              = message.sent_at.strftime('%d %b %Y %H:%M')
        - if pending?
          .ml-1.mb-1
            = inline_svg 'icons/spinner.svg', class: 'w-4 h-4 text-white animate-spin'
        - if failed?
          .ml-1.mb-1
            = inline_svg 'icons/cross.svg', class: 'w-8 h-8 text-red-500'
    - if data_view == :table
      = component 'chats/messages/table', data: message.data
